<br /><br />
<a routerLink='/user-add' class="btn btn-success">Add New User</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList">
            <td>{{user._id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.city}}</td>
            <td>
                <a [routerLink]="['/user-detail', user._id]" class="btn btn-secondary">View Detail</a> |
                <button (click)="deleteUser(user._id)" class="btn btn-secondary">Delete</button>
            </td>
        </tr>
    </tbody>
</table>