<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>User Registration</h2>

    <form action="/register" method="POST">
        <label for="username">UserName</label>
        <input type="text" id="username" name="username">
        <br /><br />
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <br /><br />
        <label for="phone">Mobile No:-</label>
        <input type="text" name="phone" id="phone">
        <br /><br />
        <label for="telephone">TelePhone No:-</label>
        <input type="text" name="telephone" id="telephone">
        <br /><br />
        <button>Submit</button>
    </form>

</body>

</html>